[submodule "lib/motor_manager"]
    path = lib/motor_manager
    url = https://github.com/kimjoonho-git/motor_manager.git

[submodule "lib/robot_manager"]
    path = lib/robot_manager
    url = https://github.com/SeonilChoi/robot_manager.git

[submodule "ros2/iahrs_driver_ros2"]
    path = ros2/iahrs_driver_ros2
    url = https://github.com/SeonilChoi/iahrs_driver_ros2.git

[submodule "ros2/playstation_joy_interface_ros2"]
    path = ros2/playstation_joy_interface_ros2
    url = https://github.com/SeonilChoi/PlayStation-JoyInterface-ROS2.git

[submodule "ros2/xtouch_midi_ros2"]
    path = ros2/xtouch_midi_ros2
    url = https://github.com/SeonilChoi/xtouch_midi_ros2.git
